# Copy this file to config/local.env and edit local paths if needed.
# config/local.env is ignored by Git.

RUN_ID=ERR14666789
THREADS=6
RAW_DIR=data/raw
REFERENCE_FASTA=data/reference/human_g1k_v37.fasta
